.content.walk-wrapper {

    @media @landscape-md {
        .absolute(@headerAtlas, @margin, @margin, @margin);
        display: flex;

        > div {
        position: relative;
        width: 50%;
        overflow-y: auto;
        overflow-x: hidden;

            &.walk-wrapper-left {
                padding-right: @margin / 2;
            }

            &.walk-wrapper-right {
                padding-left: @margin / 2;
            }
        }

        #map {
        .absolute(0,@margin/2,0,0);
        }
    }






    .walk-infos {
        background: #F9F9F5;
        padding: @margin *2;
        margin-bottom: @margin;
    }

    .walk-edges {
        padding: 0 @margin/2;
        @media @landscape-md {
            padding: 0;
        }
    }

    .edge {

        padding-left: @margin;
        padding-bottom: @margin;

        .edge-info {
            background: #F9F9F5;
            margin-bottom: @margin;
            padding: @margin ;
        }

        .edge-tree {
            font-size: 0.8rem;

            .tree-info {
                width: 100%;
                flex-shrink: 0;
                .name {
                    font-size: 2rem;
                    font-weight: 700;
                }
                .taxon {
                    font-style: italic;
                }
            }

            .tree-column-wrapper {
                margin-top: @margin / 2;
                display: flex;               img {
                    height: 25vh;
                    width: auto;
                }
                .description {
                    padding-left: @margin;
                }
            }

            .link {
                margin-top: @margin;
                margin-bottom: @margin;
                a{
                padding: 0.25rem;
                background: @green;
                font-weight: 700;
                color: #fff;
                text-decoration: none;

                    &:hover {
                        text-decoration: underline;
                    }
                }
            }
        }
    }

    // path system 

    @path-width : 3px;
    @path-bullet-width : 1.5rem;

    .edge {
        margin-left: @path-bullet-width / 2;
        padding-left: @path-bullet-width / 2 + @margin;
        border-left: @path-width solid #000;
        position: relative;

        .name {
            &:after {
                content: ' ';
                position: absolute;
                left: calc(~"-1 * (@{path-bullet-width} / 2 + @{path-width} / 2)");
                width: @path-bullet-width;
                height: @path-bullet-width;
                background: #fff;
                border-radius: 2rem;
                border: @path-width solid #000;
                z-index: 10000;
                box-sizing: border-box;
                // bottom: 12.5vh;
                margin-top: 0.25rem;

            }
        }
        // .edge-info:before {
        //         border: @path-width solid #000;
        
        // }

        // &:last-child:before,
        &:first-child:before {
            content: ' ';
            width: @margin;
            // height: 12.5vh;
            background:#fff;
            position: absolute;
            left: -@margin/2;
        }

        &:last-child:before {
            height: calc(~"25vh + 6rem");
            bottom: 0;
        }

        &:first-child:before {
            height: 1.5rem;
            top: 0;
        }

        &.selected .name:after {
            border: @path-width*2 double #000;
        }
    }

}