{% extends "django_registration/base.html" %}

{% block content %}

<div class="contrib-login-wrapper">

    {% if lang == 'en' %}
        <h1>Register <br>on WoodWideWeb</h1>
        <div class=register-error>
            {{form.errors}}
        </div>
        <form method="post" action="{% url 'registration' lang %}">
            {% csrf_token %}
            {% comment %} {{form.as_p}} {% endcomment %}
            
            <div class="row required">
                <label class="required" for="id_username">Username:</label>
                <input type="text" name="username" maxlength="150" id="id_username" required autofocus>
            </div>

            <div class="helptext">Required. 150 characters or fewer. Letters, digits and @/./+/-/_ only.</div>

            <div class="row required">
                <label class="required" for="id_email">Email address:</label>
                <input type="email" name="email" maxlength="254" id="id_email" required>
            </div>

            <div class="row required">
                <label class="required" for="id_password1">Password:</label>
                <input type="password" name="password1" id="id_password1" required>
            </div>

            <div class="helptext">
                <ul>
                    <li>Your password can&#39;t be too similar to your other personal information.</li>
                    <li>Your password must contain at least 8 characters.</li>
                    <li>Your password can&#39;t be a commonly used password.</li>
                    <li>Your password can&#39;t be entirely numeric.</li>
                </ul>
            </div>

            <div class="row required">
                <label class="required" for="id_password2">Password confirmation:</label>
                <input type="password" name="password2" id="id_password2" required>
            </div>

            <div class="helptext">Enter the same password as before, for verification.</div>

            <input type="submit" value="register">

        </form>

        
    {% elif lang == 'fr' %}
        <h1>Se créer un compte<br>sur WoodWideWeb</h1>
        <div class=register-error>
            {{form.errors}}
        </div>
        <form method="post" action="{% url 'registration' lang %}">
            {% csrf_token %}
            
            <div class="row required">
                <label class="required" for="id_username">Nom d'utilisateur:</label>
                <input type="text" name="username" maxlength="150" id="id_username" required autofocus>
            </div>

            <div class="helptext">Obligatoire. 150 caractères maximum. Lettres, nombres et @/./+/-/_ uniquement.</div>

            <div class="row required">
                <label class="required" for="id_email">Adresse e-mail:</label>
                <input type="email" name="email" maxlength="254" id="id_email" required>
            </div>

            <div class="row required">
                <label class="required" for="id_password1">Mot de passe:</label>
                <input type="password" name="password1" id="id_password1" required>
            </div>

            <div class="helptext">
                <ul>
                    <li>Votre mot de passe ne peut pas trop ressembler à vos autres informations personnelles.</li>
                    <li>Votre mot de passe doit contenir 8 caractères minimum.</li>
                    <li>Votre mot de passe ne peut pas être un mot de passe usuel.</li>
                    <li>Votre mot de passe ne peut pas être exclusivement composé de nombres.</li>
                </ul>
            </div>

            <div class="row required">
                <label class="required" for="id_password2">Confirmation du mot de passe:</label>
                <input type="password" name="password2" id="id_password2" required>
            </div>

            <div class="helptext">Tapez le même mot de passe que précédemment, pour vérification.</div>

            <input type="submit" value="register">

        </form>


    {% elif lang == 'nl' %}
        <h1>Registreren<br> op WoodWideWeb</h1>
        <div class=register-error>
            {{form.errors}}
        </div>
        <form method="post" action="{% url 'registration' lang %}">
            {% csrf_token %}
            <div class="row required">
                <label class="required" for="id_username">Gebruikersnaam:</label>
                <input type="text" name="username" maxlength="150" id="id_username" required autofocus>
            </div>

            <div class="helptext">Verplicht. 150 tekens maximum. Alleen letters, cijfers en @/./+/-/_ .</div>

            <div class="row required">
                <label class="required" for="id_email">E-mail:</label>
                <input type="email" name="email" maxlength="254" id="id_email" required>
            </div>

            <div class="row required">
                <label class="required" for="id_password1">Wachtwoord:</label>
                <input type="password" name="password1" id="id_password1" required>
            </div>

            <div class="helptext">
                <ul>
                    <li>Je wachtwoord mag niet te veel lijken op je andere persoonlijke gegevens.</li>
                    <li>Je wachtwoord moet minstens 8 tekens bevatten.</li>
                    <li>Je wachtwoord mag geen vaak gebruikt wachtwoord zijn.</li>
                    <li>Je wachtwoord mag niet exclusief uit cijfers bestaan.</li>
                </ul>
            </div>

            <div class="row required">
                <label class="required" for="id_password2">Wachtwoord bevestigen:</label>
                <input type="password" name="password2" id="id_password2" required>
            </div>

            <div class="helptext">Voer hetzelfde wachtwoord in ter verificatie</div>

            <input type="submit" value="register">
        </form>
    {% endif %}

</div>


{% endblock %}