#header-atlas {
    width: 100%;
    height: auto;
    padding: @sm-margin;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: baseline;
    color: #000;
    background-color: #fff;
    font-size: 0.8rem;
    font-weight: bold;

    >div {
        margin-top: @sm-margin;

        &:nth-child(2) {
            margin-top: @headerAtlas;
        }

        &.header-atlas-logo {
            .absolute(@sm-margin, initial, initial, @sm-margin);
        }

        &.header-atlas-logout {
            .absolute(@sm-margin, @sm-margin, initial, initial);
        }
    }

    @media @landscape-md {
        .absolute(0, 0, calc(~"100vh - @{headerAtlas}"), 0);
        flex-direction: row;
        align-items: center;
        padding: 0 @margin;
        position: fixed;
        z-index: 3;
        width: auto;
        padding: 0 @margin;

        >div {
            margin: initial !important;
            position: initial !important;
        }


    }
}

// #header-atlas {
//     width: 100%;
//     height: @headerAtlas;
//     padding: 0 @margin;
//     display: flex;
//     align-items: center;
//     justify-content: flex-start;
//     color: #000;
//     background-color: #fff;
//     font-size: 0.8rem;
//     font-weight: bold;

//     @media @landscape-md {
//         .absolute(0, 0, calc(~"100vh - @{headerAtlas}"), 0);
//         position: fixed;
//         z-index: 3;
//         width: auto;
//         height: auto;
//         padding: 0 @margin;
//     }
// }


#header-atlas {

    a {
        color: #000;
        text-decoration: none;

        &:hover {
            text-decoration: underline;
        }
        
    }
// >div {
//     margin-right: @margin;
// }

    @media @landscape-md {
        >div {
            margin-right: 2 * @margin;
        }
    }

    .header-atlas-logo {
        img {
            width: @headerAtlas;
        }
    }

    .header-atlas-lang,
    .header-atlas-about,
    .header-atlas-map {
        &:before {
            content: '\25B8';
            font-family: arial;
            font-size: 1rem;
            width: 1rem;
            margin-right: 0.5ch;
        }
    }
    .header-atlas-map a{
        color:  rgb(0, 146, 69);
    }

    .header-atlas-lang:before {
        color: rgb(139, 197, 62);
    }

    .header-atlas-about:before,
    .header-atlas-map:before {
        color: rgb(0, 146, 69);
    }

    .header-atlas-print {
        position: absolute;
        right: 0;
        margin-right: @margin;
    }

    @media @landscape-md {
        .header-atlas-print {
            margin-right: 0;
        }
    }
}