/******** BOX SIZING RESET ********/

html {
    box-sizing: border-box;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}




/******** MIXINS & Co ********/

.link {
    &:hover {}

    &.active {}
}


.absolute(@top, @right, @bottom, @left) {
    position: absolute;
    top: @top;
    right: @right;
    bottom: @bottom;
    left: @left;
}

.wordwrap() {
    overflow-wrap: break-word;
    word-wrap: break-word;
    -ms-word-break: break-all;
    word-break: break-word;
    -ms-hyphens: auto;
    -moz-hyphens: auto;
    -webkit-hyphens: auto;
    hyphens: auto;
    white-space: normal;
}


/******** MEDIA QUERIES ********/

@sm: ~"(min-width: 35.5em)"; // 568px
@md: ~"(min-width: 48em)"; // 768px
@lg: ~"(min-width: 64em)"; // 1024px
@xl: ~"(min-width: 80em)"; // 1280px

@landscape: ~"@{sm} and (orientation: landscape)";
@landscape-md: ~"@{md} and (orientation: landscape)";