{% load wood %}
<div class="planche-bota-wrapper">
{% for picture in tree.taxon.picture_taxon.all %}
    <a href="{{ picture.file.url }}">
        <img src="{% url 'wood-media' 'taxon' picture.id 600 %}" alt="">
    </a>
    {% if picture.caption|tr:lang is not '' %}
    <div class="caption">
        {{ picture.caption|tr:lang }}
    </div>
    {% endif %} 
{% endfor %}
</div>