{% extends "wood_core/base.html" %}

{% load static %}
{% load wood %}

{% block opengraph %}
<meta property="og:title" content="WOOD WIDE WEB {{ tree.name|tr:lang }}" />
<meta property="og:url" content="{% url 'wood-atlas-tree-imported' lang tree.id %}" />
<meta property="og:image" content="{% url 'wood-media' 'tree' tree.id 300 %}" />
<meta property="og:site_name" content="Wood Wide Web" />
<meta property="og:description" content="Une forêt urbaine réelle et virtuelle qui pousse à Bruxelles - Een echt en virtueel stadsbos groeit in Brussel" />
{% endblock %}

{% block title %}
    {{tree.name|tr:lang}}
    {{ tree.taxon.name|tr:lang }}
{% endblock %}

{% block body %}

<div id="header-atlas">
    {% include "wood_core/header.html" %}
</div>

<div class="main">
    <div class="main-header">
        {% include "wood_core/nav.html" %}
        {% include "wood_core/title.html" %}
    </div>
    <div class="main-content">
        <div class="block-left">
            {% include "wood_core/situation.html" %}
            {% include "wood_core/walk.html" %}
            {% include "wood_core/identity.html" %}
            {% include "wood_core/services.html" %}
            {% include "wood_core/bota.html" %}
            {% include "wood_core/twins.html" %}
            {% include "wood_core/linked-medias.html" %}
        </div>
        <div class="block-content">
            {% include "wood_core/photomaton.html" %}
            {% include "wood_core/description.html" %}
            {% include "wood_core/portrait.html" %}
            {% include "wood_core/medias.html" %}
            <div class="media-collection">
                {% include "wood_core/photoextra-contrib.html" %}
            </div>
        </div>
    </div>
</div>

<div id="footer-atlas">
    {% include "wood_core/footer.html" %}
</div>
{% endblock %}