{% load static %}
{% load wood %}


<article id="footer" class="footer">

    <div class="imago-wrapper">

        <div class="imago-www">
            <img src="{% static 'wood_core/svg/wowiwe-imago-4.svg' %}" alt="">
        </div>

        <div class="imago-text">

            <div class="pitch white">
            
            {% tr_label lang fr="Ce projet s’inspire <br> du système de <br> communication qui <br> relie les arbres <br> en forêt : <br> le Wood Wide Web." nl="Dit project is geïnspireerd <br> op het communicatiesysteem <br> dat de bomen van het bos <br> onderling verbindt: <br> het ‘Wood Wide Web’." en="This project is inspired <br>by the way trees communicate <br> as a network in the forest:<br> the Wood Wide Web." %}

            </div>

            <div class="sub-pitch fb">
                <span>
                    <a href="https://www.facebook.com/groups/168183870459622/" target="_blank">
                        <img src="{% static 'wood_core/svg/fb-white.svg' %}" alt="">
                    </a>
                    <a href="https://www.instagram.com/woodwideweb.brussels/" target="_blank">
                        <img src="{% static 'wood_core/svg/wowiwe-insta-white.svg' %}" alt="">
                    </a>
                    <a href="https://roundme.com/tour/522373/view/1730450/" target="_blank">
                        <img src="{% static 'wood_core/svg/roundme.png' %}" alt="">
                    </a>
                    <a href="https://vimeo.com/user70565118" target="_blank">
                            <img src="{% static 'wood_core/svg/vimeo.png' %}" alt="">
                    </a>
                </span>
                <span>{% tr_label lang fr="Suivez l’expérience!" nl="Ga voor de ervaring!" en="Experience it for yourself!" %}</span>
            </div>
            
    

            <div class="sub-pitch"> 
                Contact : 
                <a href="mailto:woodwideweb.brussels@gmail.com">Priscille Cazin et Griet Rigole</a> 
                {% tr_label lang fr=" pour 32shoot asbl" nl=" voor 32shoot asbl" en=" for 32shoot asbl" %} 
                <br>
            </div>

            <div class="pitch white"> 
                {% tr_label lang fr="Inscription à la newsletter " nl="Newsletter " en="Sign up for the newsletter" %}
            </div>

            <div class="sub-pitch">
        
                {% include "wood_core/newsletter-signup.html" %}

            </div>
        </div>
    </div>

    <div class="prod">

        <div class="pitch">
            {% tr_label lang fr="Produit par :" nl="Productie :" en="Created by :" %}  
        </div>

        <div class="sub-pitch"> Threetwoshoot asbl </div>
        <img src="{% static 'wood_core/images/logos/white/200px/32shout.png' %}" alt="32shout">
    </div>

    <div class="collaboration">

        <div class="pitch">{% tr_label lang fr="En collaboration avec :" nl="In samenwerking met :" en="In collaboration with :" %}  </div>



        <div class="sub-pitch">
            {% tr_label lang fr="Bruxelles Urbanisme et Patrimoine" nl="Brussel Stedenbouw en Erfgoed" en="Bruxelles Urbanisme et Patrimoine" %}
        </div>
        <img src="{% static 'wood_core/images/logos/white/200px/BUP.jpg' %}" alt="{% tr_label lang fr="Bruxelles Urbanisme et Patrimoine" nl="Brussel Stedenbouw en Erfgoed" en="Bruxelles Urbanisme et Patrimoine" %}">
    </div>

    <div class="participation">

        <div class="pitch">{% tr_label lang fr="Avec le soutien de :" nl="Met de steun van :" en="With the support of : " %}  </div>

        <div class="partners">

            <div class="main-partners">
                <img src="{% static 'wood_core/images/logos/white/200px/region.png' %}" alt="region bruxelles capitale">
                <img src="{% static 'wood_core/images/logos/white/200px/sylvolution_blanc.png' %}" alt="sylvolution">
                <img src="{% static 'wood_core/images/logos/white/200px/kilou.png' %}" alt="kilou">
            </div>
        </div>
    </div>

    <div class="participation">

        <div class="pitch">{% tr_label lang fr="Avec la participation de :" nl="Met deelname van :" en="With the participation of :" %}  </div>

        <div class="partners">
            {% include "wood_core/partners-logo.html" %}
        </div>
    </div>

    <div>
        <a href="{% url 'list-all-trees' lang %}" class="hidden"> Site Map  </a>
    </div>
    <div class="copyright"> © 32shoot asbl </div>

    <div class="ac-credits"> dev &amp; design : <a href="http://atelier-cartographique.be" title="atelier cartographique" target="_blank">atelier cartographique</a>
    </div>
</article>