{% load static %}
{% load wood %}

<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="description" content="Une forêt urbaine réelle et virtuelle qui pousse à Bruxelles">
<meta name="keywords" content="">
<meta property="og:title" content="WOOD WIDE WEB" />
<meta property="og:url" content="http://woodwideweb.be" />
<meta property="og:image" content="{% static 'wood_core/svg/wowiwe-fb.jpg' %}" />
<meta property="og:site_name" content="Wood Wide Web" />
<meta property="og:description" content="Une forêt urbaine réelle et virtuelle qui pousse à Bruxelles - Een echt en virtueel stadsbos groeit in Brussel" />
<title>Wood Wide Web</title>
<link rel="stylesheet" type="text/css" href="{% static 'wood_core/style.css' %}" />
<link rel="shortcut icon" type="image/png" href="{% static 'wood_core/svg/favicon.png' %}" />

