{% load static %}
{% load wood %}


<div id="header-atlas">

    <div class="header-atlas-logo">
        <a href="{% url 'wood-index' lang %}"><img src="{% static 'wood_core/svg/wowiwe-imago-1-www.svg' %}" alt=""></a>
    </div>

    <div class="header-atlas-lang">
        {% if lang == 'fr' %}
        <a href="{% url 'wood-about' 'nl' %}">Nederlands</a> |
        <a href="{% url 'wood-about' 'en' %}">English</a>
        {% elif lang == 'nl' %}
        <a href="{% url 'wood-about' 'fr' %}">Français</a> |
        <a href="{% url 'wood-about' 'en' %}">English</a>
        {% else %}
        <a href="{% url 'wood-about' 'nl' %}">Nederlands</a> |
        <a href="{% url 'wood-about' 'fr' %}">Français</a>
        {% endif %}
    </div>

    <div class="header-atlas-about">
        <a href="{% url 'wood-about' lang %}">{% tr_label lang fr="À propos du projet" nl="Over het project" en='About the project' %}</a>
    </div>

    <div class="header-atlas-map">
        <a href="{% url 'wood-atlas' lang %}">{% tr_label lang fr="Carte des arbres" nl="Kaart" en='Map' %}</a>
    </div>

    {% if request.user.is_authenticated %}
        <div class="header-atlas-about">
            <a href="{% url 'wood-contrib' lang %}">{% tr_label lang fr="Mes contributions" nl="Mijn bijdragen" en='My contributions' %}</a> 
        </div>
    {% endif %}


    <div class='header-atlas-logout'>  
        {% if request.user.is_authenticated %}
            <a href="{% url 'logout' lang%}"> Logout </a> 
        {% else %}
            <a href="{% url 'wood-contrib' lang %}"> Login </a>
        {% endif %}
    </div>

</div>