{% load static %}
{% load wood %}


<div class="header-atlas-logo">
    <a href="{% url 'wood-index' lang %}"><img src="{% static 'wood_core/svg/wowiwe-imago-1-www.svg' %}" alt=""></a>
</div>

<div class="header-atlas-lang">
    {% if lang == 'fr' %}
    <a href="{% url request.resolver_match.url_name 'nl' tree.id %}">Nederlands</a> |
    <a href="{% url request.resolver_match.url_name 'en' tree.id %}">English</a>
    {% elif lang == 'nl' %}
    <a href="{% url request.resolver_match.url_name 'fr' tree.id %}">Français</a> |
    <a href="{% url request.resolver_match.url_name 'en' tree.id %}">English</a>
    {% else %}
    <a href="{% url request.resolver_match.url_name 'nl' tree.id %}">Nederlands</a> |
    <a href="{% url request.resolver_match.url_name 'fr' tree.id %}">Français</a>
    {% endif %}
</div>

<div class="header-atlas-about">
    <a href="{% url 'wood-about' lang %}">{% tr_label lang fr="À propos du projet" nl="Over het project" en='About the project' %}</a>
</div>

<div class="header-atlas-map">
    <a href="{% url 'wood-atlas' lang %}">{% tr_label lang fr="Carte des arbres" nl="Kaart" en='Map' %}</a>
</div>

{% if request.user.is_authenticated %}
    <div class="header-atlas-about">
        <a href="{% url 'wood-contrib' lang %}">{% tr_label lang fr="Mes contributions" nl="Mijn bijdragen" en='My contributions' %}</a> 
    </div>
{% endif %}


<div class='header-atlas-logout'>  
    {% if request.user.is_authenticated %}
        <a href="{% url 'logout' lang%}"> Logout </a> 
    {% else %}
        <a href="{% url 'wood-contrib' lang %}"> Login </a>
    {% endif %}
</div>



<!-- {% if lang == 'en' %}
<div class="header-atlas-en-note">
<span style="color:#bbb">[English translation in progress]</span>
</div>
{% endif %} -->


{% comment "will see that later"%}

<!-- Only show pdf link for "remarquable" trees -->
{{#if is_remarquable}}
    <div class="header-atlas-print">
        <a href="{{PDF_LINK}}" target="_blank">
            <img src="../../style/svg/pdf.svg" alt="">
        </a>
    </div>
{{/if}}

<!-- End of : Only show pdf link for "remarquable" trees -->
{% endcomment %}