{% load static %}
{% load wood %}

<div id = "block4">

    <!-- mobile specific block -->
    <article class="mob-portrait">

        <div class="video-text">

            <div class="pitch"> 
                {% tr_label lang fr="Dévoiler les secrets <br> des arbres <br> Les montrer <br> sous un angle inédit" nl="De geheime wereld <br> van de bomen <br> Beelden vanuit <br> onverwachte hoek"  en="Uncover the secret life <br> of trees. <br> See them <br>from a new angle" %}    
            </div>

            {% comment %} <div class="sub-pitch"> 
                {% tr_label lang fr="Séquoia Géant <br> Parc de Woluwe, Woluwe-St-Pierre" nl="Mammoetboom <br> Park van Woluwe, St.-Pieters-Woluwe"  en="Giant Sequoia <br> Parc de Woluwe, Woluwe-St-Pierre" %}
                <br>
                {% if lang == 'fr' %}
                <a href="http://arbres-inventaire.irisnet.be/arbre/Woluwe-Saint-Pierre_Parc_de_Woluwe/2851/14/" target="_blank">Inventaire des arbres remarquables</a>
                {% elif lang == 'nl' %}
                <a href="http://bomen-inventaris.irisnet.be/arbre/Woluwe-Saint-Pierre_Parc_de_Woluwe/2851/14/" target="_blank">Inventaris van opmerkelijke bomen</a>
                {% else %}
                <a href="http://arbres-inventaire.irisnet.be/arbre/Woluwe-Saint-Pierre_Parc_de_Woluwe/2851/14/" target="_blank">Inventory of notable emblematic trees</a>
                {% endif %}
            </div> {% endcomment %}
        </div>

    </article>


    <article class="media-video" id = "block4">
    {% comment %} Add class 'vertical' like : 'media-video vertical' to trigger vertical style  {% endcomment %}

        <!-- Vimeo "normal" -->
        {% comment %} <iframe src="https://player.vimeo.com/video/234015358?title=0&byline=0&portrait=0" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen class="video-v"></iframe> {% endcomment %}
        <iframe src="https://player.vimeo.com/video/305051166" frameborder="0"  webkitallowfullscreen mozallowfullscreen allowfullscreen class="video-v"></iframe>

        <!-- Pour vidéos ci-dessous, décomenter "splash.js" dans les index.html -->
        
        <!-- Vimeo pour video verticale -->
        {% comment %} <iframe src="https://player.vimeo.com/video/366432607" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen class="video-v"></iframe> {% endcomment %}
        
        <!-- Round me -->
        <!-- <div class="splash" id="Splash">
        {% comment %} Splash should be used only for RoundMe or other scrollable content (map..), not for videos..  {% endcomment %}

            <div id="video-pause" class="splash hidden" title="Fermer">
                <img src="{% static 'wood_core/svg/close.svg' %}" alt="Fermer">
            </div>
            <div class="splash--content">
                <div id="video-play" class="splash--play">
                    <img src="{% static 'wood_core/svg/play.svg' %}" alt="Jouer la vidéo">
                </div>
                <iframe src='https://roundme.com/embed/FGCD2d2YDv9yscFNcRQt' frameborder='0' webkitallowfullscreen mozallowfullscreen allowfullscreen class="video-v"></iframe>
            </div>
        </div> -->
        
        
        <!-- <iframe src="https://www.youtube.com/embed/x-dAUKL4ACk?rel=0" frameborder="0" allowfullscreen class="video"></iframe> -->

        <div class="video-text">

            <div class="pitch"> 
                {% tr_label lang fr="Dévoiler les secrets <br> des arbres <br><br> Les montrer <br> sous un angle inédit" nl="De geheime wereld <br> van de bomen <br><br> Beelden vanuit <br> onverwachte hoek"  en="Uncover the secret life <br> of trees. <br><br> See them <br>from a new angle" %}
                 
            </div>

            <div class="sub-pitch"> 
                <!-- <a href="{% url 'wood-atlas-tree-imported' lang 6 %}"> {% tr_label lang fr="Séquoia Géant <br> " nl="Mammoetboom <br> "  en="Giant Sequoia <br> " %}</a>
                {% tr_label lang fr="Parc de Woluwe, Woluwe-St-Pierre" nl="Park van Woluwe, St.-Pieters-Woluwe" en="Parc de Woluwe, Woluwe-St-Pierre" %}
                <br>
                {% if lang == 'fr' %}
                <a href="http://arbres-inventaire.irisnet.be/arbre/Woluwe-Saint-Pierre_Parc_de_Woluwe/2851/14/" target="_blank">Inventaire des arbres remarquables</a>
                {% elif lang == 'nl' %}
                <a href="http://bomen-inventaris.irisnet.be/arbre/Woluwe-Saint-Pierre_Parc_de_Woluwe/2851/14/" target="_blank">Inventaris van opmerkelijke bomen</a>
                {% else %}
                <a href="http://arbres-inventaire.irisnet.be/arbre/Woluwe-Saint-Pierre_Parc_de_Woluwe/2851/14/" target="_blank">Inventory of notable emblematic trees</a>
                {% endif %}-->
            </div>
        </div>

        <!--<div class="arrow-down">
        <a href= "#block5"><img src="{% static 'wood_core/svg/arrow-down.svg' %}" alt=""></a>
        </div> -->
    </article>
</div>