{% load static %}
{% load wood %}

<!DOCTYPE html>
<html class="no-js" lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta
      name="description"
      content="Une forêt urbaine réelle et virtuelle qui pousse à Bruxelles"
    />
    <meta name="keywords" content="" />
    <meta property="og:title" content="WOOD WIDE WEB - 1050" />
    <meta property="og:url" content="http://woodwideweb.be" />
    <meta
      property="og:image"
      content="/wood-static/wood_core/svg/wowiwe-fb.jpg"
    />
    <meta property="og:site_name" content="Wood Wide Web" />
    <meta
      property="og:description"
      content="Une forêt urbaine réelle et virtuelle qui pousse à Bruxelles - Een echt en virtueel stadsbos groeit in Brussel"
    />
    <title>Wood Wide Web</title>
    <link
      rel="stylesheet"
      type="text/css"
      href="{% static 'wood_core/style.css' %}"
    />
    <link
      rel="shortcut icon"
      type="image/png"
      href="{% static 'wood_core/svg/favicon.png' %}"
    />

    <style>
      @media (orientation: landscape) and (min-width: 200px) {
        .home {
          background-image: url("/media-site/home.jpg/400");
        }
      }

      @media (orientation: landscape) and (min-width: 400px) {
        .home {
          background-image: url("/media-site/home.jpg/600");
        }
      }

      @media (orientation: landscape) and (min-width: 600px) {
        .home {
          background-image: url("/media-site/home.jpg/800");
        }
      }

      @media (orientation: landscape) and (min-width: 800px) {
        .home {
          background-image: url("/media-site/home.jpg/1000");
        }
      }

      @media (orientation: landscape) and (min-width: 1000px) {
        .home {
          background-image: url("/media-site/home.jpg/1200");
        }
      }

      @media (orientation: landscape) and (min-width: 1200px) {
        .home {
          background-image: url("/media-site/home.jpg/1400");
        }
      }

      @media (orientation: landscape) and (min-width: 1400px) {
        .home {
          background-image: url("/media-site/home.jpg/1600");
        }
      }

      @media (orientation: landscape) and (min-width: 1600px) {
        .home {
          background-image: url("/media-site/home.jpg/1800");
        }
      }
    </style>
  </head>

  <body>
    <!-- block 1 :  Home -->

    <article class="home" id="block1">
      <div class="site-title">
        <a href="https://woodwideweb.be" target="_blank">
          <img src="{% static 'wood_core/svg/www.svg' %}" alt="wood wide web" />
        </a>
      </div>

      <div id="header-atlas">

        <div class="header-atlas-logo">
            <a href="{% url 'wood-index' lang %}"><img src="{% static 'wood_core/svg/wowiwe-imago-1-www.svg' %}" alt=""></a>
        </div>

        <div class="header-atlas-lang">
          {% if lang == 'fr' %}
          <a href="../nl/">Nederlands</a>
          <span> | </span>
          <a href="../en/">English</a>
          {% elif lang == 'nl' %}
          <a href="../fr/">Français</a>
          <span> | </span>
          <a href="../en/">English</a>
          {% else %}
          <a href="../nl/">Nederlands</a>
          <span> | </span>
          <a href="../fr/">Français</a>
          {% endif %}

      </div>

        <div class="header-atlas-about">
            <a href="{% url 'wood-about' lang %}">À propos du projet</a>
        </div>

        <div class="header-atlas-map">
            <a href="{% url 'wood-atlas' lang %}">Carte des arbres</a>
        </div>

        {% if request.user.is_authenticated %}
            <div class="header-atlas-about">
                <a href="{% url 'wood-contrib' lang %}">Mes contributions</a> 
            </div>
        {% endif %}

        
        <div class='header-atlas-logout'>  
            {% if request.user.is_authenticated %}
                <a href="{% url 'logout' lang%}"> Logout </a> 
            {% else %}
                <a href="{% url 'wood-contrib' lang %}"> Login </a>
            {% endif %}
        </div>
        
    </div>

      <div class="walk-pitch white">
        <strong>Wood Wide Web</strong>
        {% tr_label lang fr="vous propose d’ouvrir vos yeux : regarder Bruxelles comme si c’était une forêt. Vous pouvez l’explorer grâce à nos balades d’arbre en arbre : au Parc Leopold, Parc Josaphat, Parc du Botanique, Jardins de l’Abbaye de la Cambre, etc." nl="nodigt je uit om Brussel te bekijken als een bos. Je kunt het ontdekken met onze boom-tot-boom wandelingen: in het Leopoldpark, het Josaphatpark, het botanische park, de tuinen van de Abdij van Terkameren, enz. " en="invites you to open your eyes and see Brussels as if it was a forest. You can explore it thanks to our tree-to-tree walks: in Parc Leopold, Parc Josaphat, Parc du Botanique, Jardins de l'Abbaye de la Cambre, etc. " %}
      </div>

      <div class="pitch white">
        {% if lang == 'fr' %} 
        <!-- href="{% static 'wood_core/files/Article_Agenda.pdf' %}" -->
        Balades sur le terrain à l’<a
          href="https://www.sylvolutions.eu/agenda"
          >Agenda</a
        >
        ou <a href="mailto:woodwideweb.brussels@gmail.com">à la demande</a>

        {% elif lang == 'nl' %}
        <!-- href="{% static 'wood_core/files/Article_Agenda_NL.pdf' %}" -->
        <a 
        href="https://www.sylvolutions.eu/agenda"
        >
          Agenda
        </a>
        excursies 

        {% else %} Guided tree tours
        <a href="mailto:woodwideweb.brussels@gmail.com">on demand</a>

        {% endif %}
      </div>

      <div class="pitch white">
        {% if lang == 'fr'%} Voir toutes nos
        <a href="https://woodwideweb.be/fr/atlas.html?cat=walk">balades en ligne</a>

        {% elif lang == 'nl'%} Onze
        <a href="https://woodwideweb.be/nl/atlas.html?cat=walk"> wandelingen online </a>

        {% else %} Discover all our
        <a href="https://woodwideweb.be/en/atlas.html?cat=walk"> online-walks </a>

        {% endif %}
      </div>

      <div class="pitch white">
        {% tr_label lang fr='Nouvelles balades à Ixelles:' nl='Nieuwe wandelingen in Elsene:' en='New walks in Ixelles:'%}
      </div>

      <div class="walk-pitch white">
        <div class="lang-switch">
          {% if lang == 'fr' %}
          <a href="https://www.woodwideweb.be/fr/walk/6.html">Flagey</a>
          <a href="https://www.woodwideweb.be/fr/walk/8.html">Boondael</a>
          <a href="https://www.woodwideweb.be/fr/walk/7.html">Tenbosch</a>
  
          {% elif lang == 'nl' %}
          <a href="https://www.woodwideweb.be/nl/walk/6.html">Flagey</a>
          <a href="https://www.woodwideweb.be/nl/walk/8.html">Boondael</a>
          <a href="https://www.woodwideweb.be/nl/walk/7.html">Tenbosch</a>
  
          {% else %}
          <a href="https://www.woodwideweb.be/en/walk/6.html">Flagey</a>
          <a href="https://www.woodwideweb.be/en/walk/8.html">Boondael</a>
          <a href="https://www.woodwideweb.be/en/walk/7.html">Tenbosch</a>
        </div>

        {% endif %}
      </span>

      <!-- 
    <div class="arrow-down">
        <a href= "#block2"><img src="/wood-static/wood_core/svg/arrow-down.svg" alt=""></a>
    </div> -->
    </article>
  </body>
</html>
