{% load static %}
{% load wood %}

<article class="map" id="block2">

    <div class="map-gif">
        <a href="atlas.html">
            <img src="{% static 'wood_core/images/gif/carte-orthos-communes-03-p-fond-FR-800.gif' %}" alt="">
        </a>
    </div>

    <div class="map-text-wrapper">

        <div class="pitch orange"> 
            {% tr_label lang fr="Une carte <br> dynamique <br> et participative <br> s'étoffe avec le <br> temps" nl="Werk zelf mee aan <br> de dynamische kaart <br> van ons stadsbos"  en="A dynamic,<br> interactive map <br> is growing" %}
        </div>

        <div class="sub-pitch black"> 
            {% tr_label lang fr="Repérer les arbres de différentes <br> espèces, les mettre en <br> réseau, se connecter à des médias <br> arborés ou à des activités <br> de terrain, faire une promenade <br> forestière en ville." nl="Je kan <br> verschillende boomsoorten opsporen, <br> bomen toevoegen aan de bomenatlas, <br> verschillende media rond bomen ontdekken, <br> deelnemen aan activiteiten op het terrein, <br> een boswandeling maken in de stad."  en="Locate different kinds of trees, <br> add them to the network, <br> explore the ever-expanding media content <br> or activities in the field, <br> take a walk in the woods in the heart of the city." %}
        </div>

        <div class="pitch black">
            <a href="atlas.html">
            {% tr_label lang fr="Visitez l'atlas" nl="Neem een kijkje in de atlas"  en="View the atlas" %}
            </a>
        </div>

        <div class="pitch orange">

            <div>
                {% tr_label lang fr="Actuellement" nl="Op dit moment zijn"  en="There are currently" %}
            </div>

            <div class="counter">
                {{ counter|counter }}
            </div>

            <div>
            {% tr_label lang fr="arbres référencés !" nl="bomen in kaart gebracht "  en=" entries on" %}
            
            </div>
        </div>

        <div class="pitch black">
            <a href="{% url 'wood-add-tree' lang %}">
            {% tr_label lang fr="Ajoutez votre arbre" nl="Voeg jouw boom toe"  en="Add your tree" %}
            </a>
        </div>
    </div>
    <div class="arrow-down">
        <a href= "#block-monthly"><img src="{% static 'wood_core/svg/arrow-down-black.svg' %}" alt=""></a>
    </div>
</article>