{% load static %}
{% load wood %}

<article class="home" id="block1">

    <div class="site-title">
        <img src="{% static 'wood_core/svg/www.svg' %}" alt="wood wide web">
    </div>

    <div class="pitch white">
    {% tr_label lang fr=" Une forêt urbaine, <br> réelle et virtuelle, <br> pousse à Bruxelles" nl="Een echt en virtueel <br> stadsbos groeit <br> in Brussel"  en="An urban forest, <br> is growing in Brussels, <br> on the ground <br> and online, too" %}
    </div>

    <div class="sub-pitch white">
        <span>{% tr_label lang fr="Suivez l’expérience" nl="Beleef het hier"  en="Experience it for yourself" %} </span>

        <span class="lang-switch">
            <a href="about.html">{% tr_label lang fr="À propos du projet" nl="Meer informatie"  en="about the project" %} </a>
            
            {% if lang == 'fr' %}
            <a href="{% url 'wood-index' 'nl' %}">Nederlands</a>
            <a href="{% url 'wood-index' 'en' %}">English</a>
            {% elif lang == 'nl' %}
            <a href="{% url 'wood-index' 'fr' %}">Français</a>
            <a href="{% url 'wood-index' 'en' %}">English</a>
            {% else %}
            <a href="{% url 'wood-index' 'nl' %}">Nederlands</a>
            <a href="{% url 'wood-index' 'fr' %}">Français</a>
            {% endif %}

        </span>

    </div>

    <div class="arrow-down">
        <a href= "#block2"><img src="{% static 'wood_core/svg/arrow-down.svg' %}" alt=""></a>
    </div>
</article>