{% load static %}
{% load wood %}

<article class="walk" id="block-walk">

    <div class="pitch white">
        {% tr_label lang fr=" Promenade d'arbre en arbre" nl="Wandeling van boom tot boom" en="Tree Walks" %}
    </div>

    <div class="sub-pitch white">
        <div class=link>
            <a href="{% url 'wood-walk-single' lang 6 %}">
                {% tr_label lang fr="Promenade des Etangs d'Ixelles" nl="Wandeling - Vijvers van Elsene" en="Tree walk - The Ixelles Ponds" %}
            </a>
        </div>
    </div>
    <div class="arrow-down">
        <a href="#block3"><img src="{% static 'wood_core/svg/arrow-down.svg' %}" alt=""></a>
    </div>
</article>