{% load static %}
{% load wood %}


<article class="media-audio" id = "block5">

    <div class="pitch"> 
        {% tr_label lang fr="Raconter <br> au creux de l’oreille" nl="Verhalen en geluiden, <br> gefluister in je oor"  en="Stories and soundscapes <br> for your ears only" %}
         
    </div>

    <div class="sub-pitch">
        <audio controls>
            <source src="{% static 'wood_core/audio/ARBUNOCT01.ogg' %}" type="audio/ogg">
            <source src="{% static 'wood_core/audio/ARBUNOCT01.mp3' %}" type="audio/mpeg"> Sorry, your browser does not support the audio element. </audio>
    </div>

    <div class="arrow-down">
        <a href= "#block6"><img src="{% static 'wood_core/svg/arrow-down.svg' %}" alt=""></a>
    </div>
</article>