{% load static %}
{% load wood %}

<article class="portrait" id = "block9">

    <div class="portrait-wrapper">

        <div class="portrait-textwrapper">

            <div class="pitch green"> 
                {% tr_label lang fr="Des portraits <br> multimédia racontent <br> l’histoire d’arbres <br> monumentaux" nl="Multimedia-portretten <br> vertellen het verhaal <br> van monumentale bomen"  en="Multimedia portraits <br> tell the stories <br> of monumental trees" %}
            </div>

            <div class="sub-pitch black"> 
                {% if lang == 'fr' %}
                Une série de fiches <a href="{% static 'wood_core/files/Article_Fiches_et_Portraits_FR.pdf' %}" target="_blank">pédagogiques</a>
                <br> 
                caractérisent certains arbres <br> remarquables
                {% elif lang == 'nl' %}
                Serie <a href="{% static 'wood_core/files/Article_Fiches_et_Portraits_NL.pdf' %}" target="_blank">Leerrijke</a> fiches <br> schetsen een beeld van <br> opmerkelijke bomen
                {% else %}
                A series of original botanical illustrations and <a href="{% static 'wood_core/files/Article_Fiches_et_Portraits_FR.pdf' %}" target="_blank">educational files</a>
                    <br> all about certain notable trees
                {% endif %}
                
                </div>
        </div>

        <div class="illu-fiches-fr"></div>
    </div>

    <div class="arrow-down">
        <a href= "#footer"><img src="{% static 'wood_core/svg/arrow-down-black.svg' %}" alt=""></a>
        </div>
</article>