{% load static %}
{% load wood %}

{% if monthly %}
<article class="monthly" id="block-monthly">
    <div class="pitch">
        {% tr_label lang fr="Le portrait du mois" nl="Het portret van de maand"  en="Portrait of the month" %}
        
    </div> 
    <div class=sub-pitch>
        <div class=link>
        <a href="{% url 'wood-atlas-tree' lang monthly.tree.id %}">
                {% tree_name lang monthly.tree %}
            </a>
        </div>
    </div>

    <div class="arrow-down">
        <a href= "#block-walk"><img src="{% static 'wood_core/svg/arrow-down.svg' %}" alt=""></a>
    </div>
</article>
{% endif %}