{% load wood %}

<!-- linked-medias -->
{% if tree.linkedmedia_set.count > 0 %}
    <div class="linked-medias">
        <h2>{% tr_label lang fr="Médias liés" nl="Gerelateerde media" en="Related media" %}</h2>
        {% for linked_media in tree.linkedmedia_set.all %}
            
            <li><a 
            href="{{linked_media|lingua_url:lang}}"
            title="{{linked_media|lingua_url:lang}}" 
            target="_blank"
            >{{ linked_media.label|tr:lang }}</a></li>

        {% endfor %}

    </div>
{% endif %}