{% load wood %}
<!-- OTHER IMAGES -->

{% comment %} {% for pic in tree.picture_contribution.all %}
    <div class="media-image-wrapper">
        <style>
        {% for sz in media_sizes %}
        @media (max-width: {{sz}}px) {
            #pictree_{{pic.id}} {
                background-image: url("{% url 'wood-media' 'contrib-extra' pic.id sz %}");
                padding-top: {{ pic.file|ratio:sz }}%;
            }
        }
        {% endfor %}
        </style>
        <a href="{{pic.file.url}}">
            <div id="pictree_{{pic.id}}" class="media-image"></div>
        </a>
    </div>
{% endfor %}  {% endcomment %}

{% for contrib in imgcontribs %}
    {% if tree.photomaton %}
        <div class="media-image-wrapper">
            <style>
            {% for sz in media_sizes %}
            @media (max-width: {{sz}}px) {
                #icontrib_{{contrib.id}} {
                    background-image: url("{% url 'wood-media' 'img-contrib' contrib.id sz %}");
                    padding-top: {{ contrib.picture|ratio:sz }}%;
                }
            }
            {% endfor %}
            </style>
            <a href="{{contrib.picture.url}}">
                <div id="icontrib_{{contrib.id}}" class="media-image"></div>
            </a>
            <div class="media-caption">{% tr_label lang fr='Contribution' nl='Bijdrage' en='Contribution'%}: {{contrib.contributor}} - {{contrib.format_created_date}} </div>
        </div>
    {% else %}
        {% if not forloop.first %}
            <div class="media-image-wrapper">
                <style>
                {% for sz in media_sizes %}
                @media (max-width: {{sz}}px) {
                    #icontrib_{{contrib.id}} {
                        background-image: url("{% url 'wood-media' 'img-contrib' contrib.id sz %}");
                        padding-top: {{ contrib.picture|ratio:sz }}%;
                    }
                }
                {% endfor %}
                </style>
                <a href="{{contrib.picture.url}}">
                    <div id="icontrib_{{contrib.id}}" class="media-image"></div>
                </a>
                <div class="media-caption">{% tr_label lang fr='Contribution' nl='Bijdrage' en='Contribution'%}: {{contrib.contributor}} - {{contrib.format_created_date}} </div>
            </div>
        {% endif %}
    {% endif %}
{% endfor %} 

