{% load wood %}

<!-- BLOCK TITLE -->

<div class="block-title">
    <h1>
        {% tree_name lang tree %} <br>
        {% tree_sub_title lang tree %}

        <!-- {{ tree.street_address|tr:lang }} -->
    </h1>
</div>