{% load wood %}
<!-- twinning -->
{% if tree.jumelage_set.all|length > 0 %}
<div class="twinning">
    <h2>{% tr_label lang fr="Arbres liés - jumelage" nl="Als u van dit soort boom houdt, zult u ook houden van In Brussel" en="Linked trees - twinning" %}</h2>
    {%if tree|jumelage:'belgique'%}
        <div class="belgique">
            <p>{% tr_label lang fr="Belgique" nl="België" en="Belgium" %}</p>
            {% for jum in tree|jumelage:'belgique' %}

                <li><a 
                href="{{jum|lingua_url:lang}}"
                title="{{jum|lingua_url:lang}}" 
                target="_blank"
                >{{ jum.label|tr:lang }}</a></li>

                {% comment %} {% if jum.url_lingua|tr:lang %}
                    <li><a href="{{jum.url_lingua|tr:lang}}" target="_blank">{{ jum.label|tr:lang }}</a></li>
                {% else %}
                    <li><a href="{{jum.url}}" target="_blank">{{ jum.label|tr:lang }}</a></li>
                {% endif %} {% endcomment %}
            {% endfor %}
        </div>
    {% endif %}

    {% if tree|jumelage:'europe'%}
    <div class="europe">
        <p>{% tr_label lang fr="Union Européenne" nl="Europese Unie" en="European Union" %}</p> 
        {% for jum in tree|jumelage:'europe' %}
            
            <li><a 
            href="{{jum|lingua_url:lang}}"
            title="{{jum|lingua_url:lang}}" 
            target="_blank"
            >{{ jum.label|tr:lang }}</a></li>

        {% endfor %}
    </div>
    {% endif %}

    {% if tree|jumelage:'monde'%}
    <div class="monde">
        <p>{% tr_label lang fr="Monde" nl="Wereld" en="World" %}</p>
        {% for jum in tree|jumelage:'monde' %}

            <li><a 
            href="{{jum|lingua_url:lang}}"
            title="{{jum|lingua_url:lang}}" 
            target="_blank"
            >{{ jum.label|tr:lang }}</a></li>

            {% comment %} {% if jum.url_lingua|tr:lang %}
                <li><a href="{{jum.url_lingua|tr:lang}}" target="_blank">{{ jum.label|tr:lang }}</a></li>
            {% else %}
                <li><a href="{{jum.url}}" target="_blank">{{ jum.label|tr:lang }}</a></li>
            {% endif %} {% endcomment %}
        {% endfor %}
    </div>
    {% endif %}

</div>
{% endif %}


