{% load static %} {% load wood %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Een echt en virtueel stadsbos groeit in Brussel">
    <meta name="keywords" content="">
    <meta property="og:title" content="WOOD WIDE WEB" />
    <meta property="og:url" content="http://woodwideweb.be" />
    <meta property="og:image" content="http://woodwideweb.be/style/svg/wowiwe-fb.jpg" />
    <meta property="og:site_name" content="Wood Wide Web" />
    <meta property="og:description"
        content="Une forêt urbaine réelle et virtuelle qui pousse à Bruxelles - Een echt en virtueel stadsbos groeit in Brussel" />
    <link rel="stylesheet" type="text/css" href="{% static 'wood_core/style.css' %}" />
    <link rel="shortcut icon" type="image/png" href="{% static 'wood_core/svg/favicon.png' %}" />
    <script>
        window.woodLang = 'fr';
    </script>
    <script src="{% static 'wood_core/js/bundle.js' %}"></script>
    <title>WoodWideWeb - Atlas</title>
</head>

<body class="atlas">

    <!-- states are: none | loading | loaded -->

    <div class="data-loader none"> Chargement des données </div>

    <div id="header-atlas">

        <div class="header-atlas-logo">
            <a href="{% url 'wood-index' lang %}"><img src="{% static 'wood_core/svg/wowiwe-imago-1-www.svg' %}"
                    alt=""></a>
        </div>

        <div class="header-atlas-lang">
            {% if lang == 'fr' %}
            <a href="{% url request.resolver_match.url_name 'nl'%}">Nederlands</a> |
            <a href="{% url request.resolver_match.url_name 'en'%}">English</a>
            {% elif lang == 'nl' %}
            <a href="{% url request.resolver_match.url_name 'fr'%}">Français</a> |
            <a href="{% url request.resolver_match.url_name 'en'%}">English</a>
            {% else %}
            <a href="{% url request.resolver_match.url_name 'nl'%}">Nederlands</a> |
            <a href="{% url request.resolver_match.url_name 'fr'%}">Français</a>
            {% endif %}
        </div>

        <div class="header-atlas-about">
            <a href="{% url 'wood-about' lang %}">À propos du projet</a>
        </div>

        {% if request.user.is_authenticated %}
        <div class="header-atlas-about">
            <a href="{% url 'wood-contrib' lang %}">Mes contributions</a>
        </div>
        {% endif %}


        <div class='header-atlas-logout'>
            {% if request.user.is_authenticated %}
            <a href="{% url 'logout' lang%}"> Logout </a>
            {% else %}
            <a href="{% url 'wood-contrib' lang %}"> Login </a>
            {% endif %}
        </div>

    </div>

    <div class="content-wrapper">
        <div class="map-content-wrapper abs">
            <div class="tree-label"></div>
            <div class="tree-preview"></div>
            <div id="map" class="abs"></div>
        </div>

        <div id="legend" class="abs">

            <div class="legend-map" id="legend-categories">

                <h2>Filtrer la carte</h2>
                <h3>Arbres remarquables détaillés</h3>
                <div class="legend-map-item">
                    <span class="picto">
                        <img src="{% static 'wood_core/svg/item-portrait.svg' %}" alt="">
                    </span>
                    <span class="label">Arbres remarquables avec portrait</span>
                </div>

                <div class="legend-map-item">
                    <span class="picto">
                        <img src="{% static 'wood_core/svg/item-remarquable.svg' %}" alt="">
                    </span>
                    <span class="label">Arbres remarquables avec fiche</span>
                </div>

                <div class="legend-map-item">
                    <span class="picto">
                        <img src="{% static 'wood_core/svg/item-walk.svg' %}" alt="">
                    </span>
                    <span class="label">Promenades</span>
                </div>

                <h3>Arbres adoptés, soignés ou plantés</h3>
                <div class="legend-map-item">
                    <span class="picto">
                        <img src="{% static 'wood_core/svg/item-remarque.svg' %}" alt="">
                    </span>
                    <span class="label">Par les partenaires (avec activité)</span>
                </div>

                <div class="legend-map-item">
                    <span class="picto">
                        <img src="{% static 'wood_core/svg/item-adopte.svg' %}" alt="">
                    </span>
                    <span class="label">Par vous</span>
                </div>

                <h3>Arbres à adopter</h3>
                <div class="legend-map-item">
                    <span class="picto">
                        <img src="{% static 'wood_core/svg/item-remarquable-petit.svg' %}" alt="">
                    </span>
                    <span class="label">Remarquables</span>
                </div>
                <div class="legend-map-item">
                    <span class="picto">
                        <img src="{% static 'wood_core/svg/item-a-adopter.svg' %}" alt="">
                    </span>
                    <span class="label"><a href="{% url 'wood-add-tree' lang %}"> Ajouter un arbre</a></span>
                </div>

                <button class="all-trees hidden" id="all-trees"> Afficher tous les arbres </button>

                <div class="all-trees" id="only-species">
                    <button> Tri par essences </button>
                    <div> Aulne, bouleau, cerisier, chêne, châtaignier, hêtre, orme, peuplier, platane, etc … plus d’une
                        cinquantaine d’essences vous attendent sur la carte. </div>
                </div>

            </div>

            <div class="specie-filter-wrapper hidden" id="legend-species">

                <button class="all-trees" id="only-categories"> Retour à la carte générale </button>
                <h3>Tri par essence d'arbre :</h3>

                <div id="specie-filter"></div>

            </div>
        </div>
    </div>


    <div class="credits">

        <div class="copyright"> © 32shoot asbl </div>

        <div class="ac-credits"> dev &amp; design : <a href="http://atelier-cartographique.be"
                title="atelier cartographique" target="_blank">atelier cartographique</a>
        </div>

        <div class="copyright"> orthophoto ©UrbIS 2017 </div>
    </div>
</body>

</html>