//********************  MIXIN  ***********************//

.btn-color(@btn-txt-color, @btn-border-color, @btn-back-color) {
    color: @btn-txt-color;
    border: 1px solid @btn-back-color;
    background-color: @btn-back-color;

    &:hover {
        border-color: @btn-border-color + 15%;
        background-color: @btn-back-color + 15%;
    }

    &:active {
        border-color: @btn-border-color - 15%;
        background-color: @btn-back-color - 15%;
    }
}



//********************  BUTTONS  ***********************//

button {
    // font-family: monospace;
    min-width: 3rem;
    padding: @margin / 2 @margin;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    -webkit-transition-duration: 0.4s;
    /* Safari */
    transition-duration: 0.4s;
    cursor: pointer;

    a {
        color: inherit !important;
        text-decoration: inherit !important;
    }
}

button {
    .btn-color(@white, @green, @green);

    &.remove {
        .btn-color(red, red, @white);
    }
}