{% load wood %} {% load static %}
<!DOCTYPE html>
<HTML>

<HEAD>
    <META charset="utf-8">
    </META>
    <META name="viewport" content="width=device-width, initial-scale=1.0">
    </META>
    <link rel="shortcut icon" type="image/png" href="{% static 'wood_core/svg/favicon.png' %}" />
    <link rel="stylesheet" href="https://cdn.rawgit.com/openlayers/openlayers.github.io/master/en/v5.2.0/css/ol.css">
    <link rel="stylesheet" type="text/css" href="{% static 'wood_core/style.css' %}" />
    <script src="https://cdn.rawgit.com/openlayers/openlayers.github.io/master/en/v5.2.0/build/ol.js"></script>
    <STYLE>
        {% media_css 'body.contrib.list' 'landscape' 'home.jpg' 400 2000 %}
        {% media_css 'body.contrib.list' 'portrait' 'home-mob.jpg' 400 2000 %}

        body {
            background-size: cover;
            width: 100vw;
            height: 100vh;
            overflow: hidden;
            background-position: center;
            background-repeat: no-repeat;
        }

        .form-info.collection {
            max-width: 500px;
            margin: auto;
            background: rgba(255, 255, 255, 0.95);
            padding: 20px;
            height: 100vh;
            overflow-y: auto;
            overflow-x: hidden;
        }

        .submit-block {
            text-align: center;
            padding-bottom: 50px;
            padding-top: 20px;
        }

        textarea {
            width: 100%;
            min-height: 120px;
        }

        img {
            width: 100%;
        }

        .media-image-wrapper {
            a {
            text-decoration: none;
            }

            .media-image {
                background-size: cover;
                background-position: center;
                background-repeat: no-repeat;
            }

        }
        .hidden {
            display: none;
        }
    </STYLE>
</head>

<body class="contrib list">

    <div id="header-atlas">

        <div class="header-atlas-logo">
            <a href="{% url 'wood-index' lang %}"><img src="{% static 'wood_core/svg/wowiwe-imago-1-www.svg' %}" alt=""></a>
        </div>

        <div class="header-atlas-lang"> 
        {% comment %} 
        {% if form.instance.id %} 
            {% if lang == 'fr' %}
            <a href="{% url 'wood-contrib-edit' 'nl' form.instance.id  %}">Nederlands</a> | 
            <a href="{% url 'wood-contrib-edit' 'en' form.instance.id  %}">English</a> 
            {% elif lang == 'nl' %}
            <a href="{% url 'wood-contrib-edit' 'fr' form.instance.id  %}">Français</a> | 
            <a href="{% url 'wood-contrib-edit' 'en' form.instance.id  %}">English</a> 
            {% else %}
            <a href="{% url 'wood-contrib-edit' 'nl' form.instance.id  %}">Nederlands</a> | 
            <a href="{% url 'wood-contrib-edit' 'fr' form.instance.id  %}">Français</a>
            {% endif %}
        {% else %}
        {% endif %}
        {% endcomment %}
            {% if lang == 'fr' %}
            <a href="{% url 'wood-contrib' 'nl' %}">Nederlands</a> | 
            <a href="{% url 'wood-contrib' 'en' %}">English</a> 
            {% elif lang == 'nl' %}
            <a href="{% url 'wood-contrib' 'fr' %}">Français</a> | 
            <a href="{% url 'wood-contrib' 'en' %}">English</a> 
            {% else %}
            <a href="{% url 'wood-contrib' 'nl' %}">Nederlands</a> | 
            <a href="{% url 'wood-contrib' 'fr' %}">Français</a>
            {% endif %}
         </div> 

        <div class="header-atlas-about">
            <a href="{% url 'wood-about' lang %}">{% tr_label lang fr="À propos du projet" nl="Over het project" en='About the project' %}</a>
        </div>

        <div class="header-atlas-map">
            <a href="{% url 'wood-atlas' lang %}">{% tr_label lang fr="Carte des arbres" nl="Map" en='Map' %}</a>
        </div>

        {% comment %} {% if request.user.is_authenticated %}
            <div class="header-atlas-about">
                <a href="{% url 'wood-contrib' lang %}">{% tr_label lang fr="Mes contributions" nl="Mijn bijdragen" en='My contributions' %}</a> 
            </div>
        {% endif %} {% endcomment %}

        <div class=header-atlas-logout>
            <a href="{% url 'logout' lang%}"> Logout </a> 
        </div>
    </div>

    <div class="content">

        <div class="sub-content">
            <span class="pitch green">{{user}}</span>
            <br>
            <br>
            <div class="button">
            <button><a href="{% url 'wood-add-tree' lang %}">{% tr_label lang fr='+ ajouter un arbre' nl='+ een boom toevoegen' en='+ add a tree' %}</a></button>
            </div>

            <h1>{% tr_label lang fr='Votre contribution à ' nl='Jouw bijdragen aan ' en='Your contribution to' %}<br> Wood Wide Web </h1>

            <div class="helptext">{% tr_label lang fr='Pour éditer une fiche d\'arbre ou un texte, sélectionnez-la ci-dessous.' nl='Om een bijdrage te bewerken, selecteer je deze hieronder' en='To edit a contribution, select it below' %}</div> 
            

           <div class="contrib-items--wrapper">
                    {% comment %} <h2>{% tr_label lang fr='Vos arbres' nl='Jouw bomen' en='Your trees' %}:</h2> {% endcomment %}

                    {% for tree in trees %} 

                        <div class="contrib-item">
                            <div class="contrib-item--tree">
                                <h1> {% tree_name lang tree %} </h1>
                                <div class=summary>
                                    <div>id : {{ tree.id }}</div>
                                    <div>{{ tree.taxon }}</div>
                                    <div>{% tr_label lang fr='Dernière édition : ' nl='Laatste editie : ' en='Last update : ' %}{{ tree.date }}</div>
                                    <div class="summary">{{ trees.description|truncatechars:256 }}</div>
                                </div>

                                <button>
                                    <a class= "contrib-link" href= "{% url 'wood-atlas-tree' lang tree.id %}"> 
                                        {% tr_label lang fr="Voir l'arbre dans l'atlas" nl='Bekijk de boom' en='See the tree' %} 
                                    </a>
                                </button>

                                {% if tree.contributor == user %}
                                    <button>                                
                                        <a class="contrib-link" href="{% url 'wood-edit-tree' lang tree.id %}">
                                            {% tr_label lang fr="Editer sa fiche" nl='Wijzig de fiche' en='Edit the tree' %} 
                                        </a>
                                    </button> 
                                            
                                {% endif %}
                            </div>
                            
                            <div class="contrib-item--text">

                                <h2 id="text-contrib-title-{{forloop.counter}}" class="hidden">{% tr_label lang fr='Contributions texte' nl='Teksten' en='Text' %}</h2>

                                {% for tc in text_contributions %}
                                    {% if tc.tree.id == tree.id %}
                                        <div class="item item--text">
                                            <div class="summary">{{ tc.text|truncatechars:256 }}</div>
                                            <div class="last-updated">{% tr_label lang fr='Dernière édition : ' nl='Laatste editie : ' en='Last update : ' %}{{ tc.updated_at }}</div>
                                            <button> <a href="{% url 'wood-text-contrib-edit' lang tc.tree.id tc.id %}"> {% tr_label lang fr="Éditer ce texte" nl="Wijzig de tekst" en="Edit the text" %} </a> </button>
                                        </div>
                                        <script>
                                                document.getElementById('text-contrib-title-{{forloop.parentloop.counter}}').setAttribute('class', "");
                                        </script>
                                    {% endif %}
                                {% endfor %}
                            </div>

                            <div class="contrib-item--image">
                                <h2 id="img-contrib-title-{{forloop.counter}}" class="hidden">{% tr_label lang fr='Contributions image' nl='Fotos' en='Photos' %} </h2>

                                {% for ic in image_contributions %}

                                    {% if ic.tree.id == tree.id %}
                                        <div class="item item--image">
                                            <div class="media-image-wrapper">
                                                <span class="media-image">
                                                <img src="{% url 'wood-media' 'img-contrib' ic.id 300 %}" />
                                                </span>
                                            </div>
                                            <div class="last-updated">{% tr_label lang fr="Dernière édition : " nl='Laatste editie : ' en='Last update : ' %}{{ ic.updated_at }}</div>
                                            <button> 
                                                <a href="{% url 'wood-img-del-valid' lang ic.id %}"> {% tr_label lang fr="Supprimer l'image" nl="Het beeld verwijderen" en="Delete the image" %} </a> 
                                            </button>
                                        </div>
                                        <script>
                                                document.getElementById('img-contrib-title-{{forloop.parentloop.counter}}').setAttribute('class', "");
                                        </script>
                                    {% endif %}
                                {% endfor %}
                            </div>
                        </div>
                    {% endfor %}
                </div>
             </div>
        </div>
    </div>

    <div class="credits">

        <div class="copyright"> © 32shoot asbl </div>

        <div class="ac-credits"> dev &amp; design : <a href="http://atelier-cartographique.be" title="atelier cartographique" target="_blank">atelier cartographique</a>
        </div>
    </div>
</body>

</html>