body#about {
    background-color: white;
}

#about .main {
    .absolute(@headerAtlas, 0, 0, 0);
}

#about .footer {
    background-color: black;
}


#about {
    .how-to-img,
    .grow-img,
    .actors-img {
        // width: 100vw;
        background-size: cover;
    }
    .how-to,
    .grow {
        height: auto;
        min-height: auto;
        background-color: #f9f9f5;
        @media @landscape-md {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            &>div {
                flex: 1;
                max-width: calc(~"(100vw - 8 * @{margin}) / 3");
            }
        }
    }
    .actors {
        height: auto;
        min-height: auto;
        background-color: #f9f9f5;
        .actors-list {
            line-height: 135%;

            // @media @landscape-md {
            //     columns: 3;
            //     column-gap: 2rem;
            // }

            .actor-trees {
                font-style: italic;
                font-size: 0.8rem;
            }
        }
        @media @landscape-md {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            &>div {
                flex: 1;
                max-width: calc(~"(100vw - 8 * @{margin}) / 3");
            }
        }

    }
}
