//***********************  AVANT APRES  ***********************//
.media-avap {
    @media @landscape {
        height: 100vw / 2.25;
        min-height: 100vw / 2.25;
    }

    .pitch,
    .sub-pitch {
        display: none;
        @media @landscape-md {
            display: block;
        }
    }
}





.before-after {
    color : @black;
    background-color: #f9f9f5;
    padding-bottom: @margin * 3;
    min-height: initial;


    @media @landscape-md {
        display: flex;
        flex-direction: row;
        justify-content: space-between;

        & > div {
            flex: 1;
            max-width: 20vw;
        }
    }
}

.pitch.long {
    font-weight: 100;
    font-size: 2.2rem;
}

.circle {
    @media @landscape {
        margin: auto;
   }
    img {
        // max-width: 66vw;
        margin: @margin 0;
        @media @landscape {
            max-width: 33vw;
        }
        @media @landscape-md {
            // max-width: 75%;
            margin: @margin 12.5%;
        }
    }
}


.ba-txt-wrapper {
    .pitch {
        span {
            display: block;
            &:last-child {
                // margin-left: @margin * 3;
            }
        }
    }
    @media @landscape {
        max-width: 50%;
        // margin-right: @margin;
    }

    @media @landscape-md {
        max-width: 50vh;
        // margin-right: @margin;
    }
}
