.map {background-color: @white; z-index: 4;}

.map {
    padding-bottom: @margin * 3;
    background-color: @white;
    min-height: initial;

    @media @landscape {
        flex-direction: row-reverse;
        justify-content: flex-end;
        flex-wrap: wrap;
        padding-bottom: 0;
    }
    @media @landscape-md {
        padding-bottom: @margin * 3;
    }

    .map-text-wrapper {
        @media @landscape {
            display: block;
        }
        @media @landscape-md {
            flex: 33%;
        }
    }

    .map-gif {
        width: 100%;
        text-align: center;

        @media @landscape {
            max-width:45vw;
            margin: auto;
        }

        @media @landscape-md {
            flex: 66%;
            max-width: none;
            margin: 0;
        }

        img {
            max-width: 100%;
            @media @landscape {
                max-width: 80vh;
            }
            @media @landscape-md {
                max-width: none;
                max-height: 80vh;
            }
        }
    }
}

.counter {
    margin: @margin / 2 0;
    display: flex;
    
    .digit-wrapper {
        padding: 0 0.1em;
        border: 1px solid #000;
        height: 1.5em;
        overflow: hidden;
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
        
        .digit:first-child {
            margin-top: 0.2em;
        }
    }
}