
.portrait {
    padding-bottom: @margin * 3;
    background-color: @white;
    min-height: initial;

    @media @landscape {
        padding-bottom: 0;
    }
    @media @landscape-md {
        padding-bottom: @margin * 3;
    }

    .portrait-wrapper {
        @media @landscape {
            display: flex;
            flex-direction: row;
            justify-content: initial;
            height: 100vh;
        }
        @media @landscape-md {
            height: initial;
        }
    }

    .illu-fiches-fr {
        height: 100vh;
        width: 100%;
        background-size: contain;
        margin: @margin 0;

        @media @landscape {
            background-size: contain;
            height: 45vw;
            max-height: 400px;
            border-left: 4vw solid #fff; 
        }
    }
    .illu-fiches-nl {
        height: 100vh;
        width: 100%;
        background-size: contain;
        margin: @margin 0;

        @media @landscape {
            background-size: contain;
            height: 45vw;
            max-height: 400px;
        }
    }
}
