.splash {
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    background: transparent;
    z-index: 1000;

    &--close {
        position: absolute;
        top: 10px;
        right: 10px;
        z-index: 2;
        width: 75px;
    }

    &--play {
        position: absolute;
        width: 100%;
        height: 100%;
        margin: auto;
        background-color: rgba(0, 0, 0, 0.2);
        -webkit-backdrop-filter: blur(10px);
        backdrop-filter: blur(10px);
        z-index: 2;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    &--content {
        position: absolute;
        top: 0px;
        right: 0px;
        bottom: 0px;
        left: 0px;
    }

    &.hidden {
        display: none;
    }
}
