
.observe {
    height: 100vh;
    width: 100%;

    .pitch, .sub-pitch {
        text-shadow: 0px 0px 10px rgba(0, 0, 0, 1);
    }
}

.activite {
    height: 100vh;
    width: 100%;

        .pitch {
            text-shadow: 0px 0px 10px rgba(0, 0, 0, 1);
        }
}
