body.contrib {
    color: #000;
    background-color: #fff;

    .fieldWrapper {
        margin-bottom: @margin;
    }

    .form-wrapper {
        background-color: #f9f9f5;
        padding: @margin / 2;

        .half-wrapper {
            overflow-x: hidden;
        }

        h1,
        h2 {
            font-size: 2.2rem;
            font-weight: 100;
            margin: 0;
            color: @green;
        }

        h2 {
            font-size: 1.33rem;
            margin-bottom: @margin / 2;
        }
    }

    @media @landscape-md {
        .form-wrapper {
            .absolute(2.5rem, @margin, @margin, @margin);
            display: flex;
            padding: @margin;

            .half-wrapper {
                flex: 1;
                display: flex;
                flex-direction: column;
                overflow-y: auto;

                &.right-side {
                    padding-left: @margin;
                }
            }
        }

        #map {
            flex: 1;
            min-height: 0;
            position: relative;
            top: initial;
            right: initial;
            bottom: initial;
            left: initial;
            border: 1px solid #ccc;
        }
    }

    .content {
        .absolute(5.5rem, 0, @margin, 0);
        overflow-y: auto;
        padding: 0 @margin;
        padding-bottom: @margin * 2;

        @media @landscape-md {
            position: initial;
            .absolute(2.5rem, 0, @margin, 0);
            padding: 0;
            padding-bottom: @margin * 2;
        }

        textarea {
            border: 1px solid #ccc;
            padding: @margin;
            font-size: 1rem;
        }

        .helptext {
            font-size: 0.8rem;
            padding-bottom: @margin / 2;
            .bold {
                font-weight:600;
            }
        }
    }

    .position-field {
        margin: @margin 0;
        display: flex;
        justify-content: space-between;
        font-size: 0.9rem;

        .position-input-wrapper {
            display: flex;
            flex-wrap: wrap;

            // &:first-child {
            //     margin-right: @margin;
            // }

            div:first-child {
                margin-right: @margin / 2;
            }

            input {
                width: auto;
            }
        }

        .input-label {
            font-weight: bold;
            margin-top: @margin / 2;
        }
    }

    .taxon-wrapper {
        select {
            max-width: 100%;
            padding: @margin / 2;
            font-size: 0.9rem;
        }
    }

    input[type='file'] {
        font-size: 0.8rem;
    }

    .main-image {
        img {
            width: auto;
            max-height: 75vh;
            max-width: 100%;
        }
    }

    .other-image-wrapper {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;

        > div {
            width: calc(50% - @margin / 2);
            margin-bottom: @margin;
        }

        img {
            width: auto;
            max-height: 20vw;
            max-width: 100%;
        }

        .delete-wrapper {
            display: flex;
            margin-top: @margin / 2;

            label {
                margin-right: @margin;
            }

            input {
                width: auto;
            }
        }
    }

    .submitWrapper {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        button {
            margin-bottom: @margin;
        }
    }

    .credits {
        .absolute(auto, 0, 0, 0);
        background: #fff;
        display: flex;
        justify-content: space-between;
        padding: 0 @margin;
        font-size: 0.8rem;
        height: @margin;

        a {
            color: #000 !important;
        }

        > div {
            flex-shrink: 0;
            display: inline-block;
        }
    }

    a {
        color: blue;
    }
}
