body.contrib.list {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;

    .content {
        color: #fff;
        background: rgba(0, 0, 0, 0.5);
        padding-top: @margin;
        padding-bottom: @margin * 2;
    }

    .contrib-items--wrapper *:not(button) {
        color: initial;
    }

    @media @landscape-md {
        .content {
            padding: 0 @margin;
            padding-top: @margin;
            padding-bottom: @margin * 2;
            position: absolute;

            .sub-content {
                width: 50%;
            }

            .contrib-list__wrapper {
                display: flex;
                justify-content: space-between;

                .contrib-list {
                    width: calc(~'100% / 3 - @{margin} * 2 / 3');
                    flex-shrink: 0;
                }
            }
        }
    }

    a {
        color: #fff;
    }

    a.contrib-link {
        color: #000;
        text-decoration: none;

        &:hover {
            color: @green;
        }
    }

    .last-updated {
        font-size: 0.8rem;
        margin-bottom: @margin / 2;
    }

    .contrib-item {
        margin-top: @margin;
        background: #efefefe0;
        padding: @margin;

        a {
            color: initial;
        }

        h1 {
            margin: 0 0 @margin 0;
        }

        button {
            padding: @margin / 2;
            margin: @margin / 3 0;
        }

        .tree-title {
            font-weight: 700;
            font-size: 2em;
            padding-bottom: 1rem;
            letter-spacing: -0.01em;
            line-height: 92%;
        }

        &--text,
        &--image {
            & > *:not(h2) {
                margin-left: @margin;
            }
            .item:not(:last-child) {
                padding-bottom: @margin;
                border-bottom: 1px dotted #000;
                margin-bottom: @margin;
            }

            .last-updated {
                margin-top: @margin / 2;
            }
        }

        .media-image img {
            max-width: 100%;
        }
    }
    .summary {
        color: black;
    }
}
