body.accounts {
    background-color: #f8f8f8 !important;
    color: #000 !important;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;

    .contrib-login-wrapper {
        color: #fff;
        background: rgba(0,0,0,0.5);
        height: calc(100vh - 2.5rem - @margin);
        overflow-y: auto;
        padding: @margin;
        @media @landscape-md {
            margin-top: 2.5rem;
        }

        form {max-width: calc(400px - @margin * 2);}

    }


    .row {
        display: flex;
        flex-direction: column;
        align-items: baseline;

        label {
            margin-top: @margin;
        }

        input {
            width: 100%;
            flex-shrink: 0;
        }
    }

    .helptext,
    ul {
        font-size: 0.8rem;
        margin-top: @margin / 2 ;
        margin-bottom: @margin;
    }

    .error {
        background: red;
    }

    input[type=submit] {
        background-color: @green;
        font-weight: 700;
        color: #fff;
    }

    .link a {
        color:#fff !important;
    }

    .register a {
        color: @green !important;
        text-decoration: none;
        line-height: 110%;
        &:hover {text-decoration: underline;}
    }

    .credits {
        .absolute(auto, 0, 0, 0);
        background: #fff;
        display: flex;
        justify-content: space-between;
        padding: 0 @margin;
        font-size: 0.8rem;
        height: @margin;

        a {color: #000 !important;}
    }
}