{% load static %} {% load wood %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Een echt en virtueel stadsbos groeit in Brussel">
    <meta name="keywords" content="">
    <meta property="og:title" content="WOOD WIDE WEB" />
    <meta property="og:url" content="http://woodwideweb.be" />
    <meta property="og:image" content="http://woodwideweb.be/style/svg/wowiwe-fb.jpg" />
    <meta property="og:site_name" content="Wood Wide Web" />
    <meta property="og:description"
        content="Une forêt urbaine réelle et virtuelle qui pousse à Bruxelles - Een echt en virtueel stadsbos groeit in Brussel" />
    <link rel="stylesheet" type="text/css" href="{% static 'wood_core/style.css' %}" />
    <link rel="shortcut icon" type="image/png" href="{% static 'wood_core/svg/favicon.png' %}" />
    <script>
        window.woodLang = 'en';
    </script>
    <script src="{% static 'wood_core/js/bundle.js' %}"></script>
    <title>WoodWideWeb - Atlas</title>
</head>

<body class="atlas">

    <!-- states are: none | loading | loaded -->

    <div class="data-loader none"> Loading data... </div>

    <div id="header-atlas">

        <div class="header-atlas-logo">
            <a href="{% url 'wood-index' lang %}"><img src="{% static 'wood_core/svg/wowiwe-imago-1-www.svg' %}"
                    alt=""></a>
        </div>

        <div class="header-atlas-lang">
            <a href="../nl/atlas.html">Nederlands</a>
            <span> | </span>
            <a href="../fr/atlas.html">Français</a>
        </div>

        <div class="header-atlas-about">
            <a href="{% url 'wood-about' lang %}">About the project</a>
        </div>

        {% if request.user.is_authenticated %}
        <div class="header-atlas-about">
            <a href="{% url 'wood-contrib' lang %}">My contributions</a>
        </div>
        {% endif %}


        <div class='header-atlas-logout'>
            {% if request.user.is_authenticated %}
            <a href="{% url 'logout' lang%}"> Logout </a>
            {% else %}
            <a href="{% url 'wood-contrib' lang %}"> Login </a>
            {% endif %}
        </div>
    </div>

    <div class="content-wrapper">

        <div class="map-content-wrapper abs">
            <div class="tree-label"></div>
            <div class="tree-preview"></div>
            <div id="map" class="abs"></div>
        </div>

        <div id="legend" class="abs">


            <div class="legend-map" id="legend-categories">

                <h2>Filter the map</h2>
                <h3>Remarkable trees</h3>

                <div class="legend-map-item">
                    <span class="picto">
                        <img src="{% static 'wood_core/svg/item-portrait.svg' %}" alt="">
                    </span>
                    <span class="label">Remarkable trees with a full portrait </span>
                </div>

                <div class="legend-map-item">
                    <span class="picto">
                        <img src="{% static 'wood_core/svg/item-remarquable.svg' %}" alt="">
                    </span>
                    <span class="label">Remarkable trees with a record</span>
                </div>

                <div class="legend-map-item">
                    <span class="picto">
                        <img src="{% static 'wood_core/svg/item-walk.svg' %}" alt="">
                    </span>
                    <span class="label">Walks</span>
                </div>

                <h3>Trees adopted by, tended by or planted by...</h3>
                <div class="legend-map-item">
                    <span class="picto">
                        <img src="{% static 'wood_core/svg/item-remarque.svg' %}" alt="">
                    </span>
                    <span class="label">Our partners (with activities) </span>
                </div>

                <div class="legend-map-item">
                    <span class="picto">
                        <img src="{% static 'wood_core/svg/item-adopte.svg' %}" alt="">
                    </span>
                    <span class="label">You</span>
                </div>

                <h3>Trees for adoption</h3>
                <div class="legend-map-item">
                    <span class="picto">
                        <img src="{% static 'wood_core/svg/item-remarquable-petit.svg' %}" alt="">
                    </span>
                    <span class="label">Remarkable trees</span>
                </div>

                <div class="legend-map-item">
                    <span class="picto">
                        <img src="{% static 'wood_core/svg/item-a-adopter.svg' %}" alt="">
                    </span>
                    <span class="label"><a href="{% url 'wood-add-tree' lang %}">Add a tree of your choice </a></span>
                </div>

                <button class="all-trees hidden" id="all-trees"> Show all trees </button>

                <div class="all-trees" id="only-species">
                    <button> Filter by specie of tree</button>
                    <div> More than fifty species are available to view on the map, including alder, birch, cherry, oak,
                        chestnut, beech, elm, poplar, plane, and more. </div>
                </div>

            </div>

            <div class="specie-filter-wrapper hidden" id="legend-species">

                <button class="all-trees" id="only-categories"> General map </button>

                <h3>Filter by specie :</h3>

                <div id="specie-filter"></div>


            </div>
        </div>
    </div>

    <div class="credits">

        <div class="copyright"> © 32shoot asbl </div>

        <div class="ac-credits"> dev &amp; design : <a href="http://atelier-cartographique.be"
                title="atelier cartographique" target="_blank">atelier cartographique</a>
        </div>

        <div class="copyright"> orthophoto ©UrbIS 2017 </div>
    </div>
</body>

</html>