{% load wood %}
{% load static %}

<!DOCTYPE html>
<HTML>

<HEAD>
    <META charset="utf-8">
    <META name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{% static 'wood_core/style.css' %}" />
    <STYLE>
        {% comment %} body {
            background-size: cover;
            width: 100vw;
            height: 100vh;
            overflow: hidden;
            background-position: center;
            background-repeat: no-repeat;
            display: flex;
            align-items: center;
            justify-content: center;
        }

        .form-info.collection {
            max-width: 400px;
            margin: auto;
            background: rgba(255, 255, 255, 0.95);
            padding: 20px;
            height: 100vh;
            overflow-y: auto;
            overflow-x: hidden;
        }

        .submit-block {
            text-align: center;
            padding-bottom: 50px;
            padding-top: 20px;
        }

        textarea {
            width: 100%;
            min-height: 120px;
        }

        img {
            width: 100%;
        } {% endcomment %}

        {% media_css  'body.accounts' 'landscape' 'home.jpg' 400 2000 %}
        {% media_css  'body.accounts' 'portrait' 'home-mob.jpg' 400 2000 %}

    </STYLE>

<body class="accounts">

    <div id="header-atlas">

        <div class="header-atlas-logo">
            <a href="{% url 'wood-index' 'en' %}"><img src="{% static 'wood_core/svg/wowiwe-imago-1-www.svg' %}" alt=""></a>
        </div>

        <div class="header-atlas-map">
            <a href="{% url 'wood-atlas' 'en' %}">Map</a>
        </div>

    </div>

    {% block content %}{% endblock %}



    <div class="credits">
        <div class="copyright">
            © 32shoot asbl
        </div>
        <div class="ac-credits">
            dev &amp; design :
            <a href="http://atelier-cartographique.be" title="atelier cartographique" target="_blank">atelier cartographique</a>
        </div>
    </div>

</body>

</html>